{% extends 'hello/base.html' %}
{% block content %}
<p>this is the page that i find myself saying hello once again because i am really curios to see how things are going
to turn out .the lady called cate we had to part ways because i cant tell her and she has her own thought when we
had agreed the pussy i never want it to kell me anyway lthis is a time that we are going to embrace new pussies oversees and
see where they are goig to lead us though i love talking while its late and i think that mary will be the mother of my kids</p>
{% endblock %}